<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Space Mechanic</title>
    <link rel="stylesheet" href="/styles/shared.css" />
    <link rel="stylesheet" href="/styles/game-display.css" />
    <link rel="stylesheet" href="/styles/waiting-room.css" />
  </head>
  <body>
    <!-- DIALOGUE BOX -->
    <aside id="dialogue-box">
      <div id="dialogue-box-controls">
        <%- include('includes/game-display/dialogue-box-controls') %>
      </div>
      <section id="roll-dice">
        <%- include('includes/game-display/roll-dice') %>
      </section>
      <section id="all-roll-dice">
        <%- include('includes/game-display/all-roll-dice') %>
      </section>
      <section id="job-detail">
        <%- include('includes/game-display/job-detail') %>
      </section>
      <section id="end-of-round">
        <%- include('includes/game-display/end-of-round') %>
      </section>
      <section id="end-game">
        <%- include('includes/game-display/end-game') %>
      </section>
      <section id="card-detail">
        <%- include('includes/game-display/card-detail') %>
      </section>
    </aside>
    <div id="backdrop"></div>
    <!-- GAME CONTENT -->
    <div id="game-content">
      <div id="waiting-room-session-content">
        <!-- WAITING ROOM -->
        <aside id="waiting-room">
          <%- include('includes/game-display/waiting-room', {room: room}) %>
        </aside>
        <!-- SESSION CONTENT -->
        <div id="info-board-bottom">
          <div id="info-board">
            <section id="info">
              <%- include('includes/game-display/info') %>
            </section>
            <section id="board">
              <%- include('includes/game-display/board') %>
            </section>
          </div>
          <section id="bottom-bar">
            <section id="bottom-actions">
              <%- include('includes/game-display/bottom-actions') %>
            </section>
            <section id="dashboard">
              <%- include('includes/game-display/dashboard') %>
            </section>
            <section id="cards">
              <%- include('includes/game-display/cards') %>
            </section>
          </section>
        </div>
      </div>
      <section id="radio-phone">
        <%- include('includes/game-display/radio-phone') %>
      </section>
    </div>
    <!-- TEMPLATES -->
    <div id="templates"><%- include('includes/game-display/templates') %></div>
    <!-- SCRIPTS -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts/game.js"></script>
    <script src="/scripts/waiting-room.js"></script>
    <script src="/scripts/board.js"></script>
    <script src="/scripts/radio-phone.js"></script>
    <script src="/scripts/info.js"></script>
    <script src="/scripts/dialogue-boxes.js"></script>
    <script src="/scripts/job-data.js"></script>
    <script src="/scripts/cards-data.js"></script>
    <script src="/scripts/dashboard.js"></script>
    <script src="/scripts/cards.js"></script>
  </body>
</html>
